<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="igniteConfiguration" type="Apache.Ignite.Core.IgniteConfigurationSection, Apache.Ignite.Core" />
    </configSections>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <appSettings>
        <add key="Ignite.ConfigSectionName" value="igniteConfiguration" />
    </appSettings>
    
    <igniteConfiguration xmlns="http://ignite.apache.org/schema/dotnet/IgniteConfigurationSection">
        <discoverySpi type="TcpDiscoverySpi">
            <ipFinder type="TcpDiscoveryStaticIpFinder">
                <endpoints>
                    <string>127.0.0.1:47500</string>
                </endpoints>
            </ipFinder>
        </discoverySpi>
        <binaryConfiguration>
            <nameMapper type="Samples.Ignite.Php.DotnetToPhpNameMapper, Samples.Ignite.Php" />

            <typeConfigurations>
                <binaryTypeConfiguration typeName='Samples.Ignite.Php.Record'/>
            </typeConfigurations>
        </binaryConfiguration>
    </igniteConfiguration>
</configuration>